build/
.vscode/
apuntes/
*/__pycache__/
/build
*.pdf
/TFG_Juan_Haya
resultados_invariantes/*.txt
resultados_invariantes/*.csv
*/data_*.txt
*/data_*.csv
*/intervalos_*.txt
*/intervalos_*.csv
sim.txt
generar_panel_figuras.py
plot_simulaciones.py
grafic.py
cgc_1.txt
cgc_03.txt
figuras_data.txt
figura_invariantes_definiciones.py